
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #F8F9F8;
}

.video {
    /* z-index: -1; */
    /* width: auto; */
}

.full-screen {
    width: 100%;
    height: 100%;
}

.non-full-screen {
    width: 60%;
}