
.my-animated-number {
    font-weight: 700;
    font-size: 2.5rem;
    color: #FEFFFE;
}

.number-container {
    background-color: #287AFA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}