.video-controller-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin-bottom: 20px;

    z-index: 1;
}

.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-controller-container .left-container {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    /* padding: 5px; */
    width: 100%;
}

.left-container-inner {
    width: 60%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-around;
}

.video-controller-container .middle-container {
    /* background-color: green; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.middle-container h4 {
    margin: 2px;
    font-weight: 500;
}

.middle-container .bold {
    font-weight: 700;
}

.video-controller-container .right-container {
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.right-container-inner {
    width: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-around;
}

.button {
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease-out;
}

.icon {
    width: 36px;
    height: 36px;
    transition: transform 0.2s ease-out;
}

.icon:hover {
    transform: scale(1.4);
}